<%- include('header', {logout : false})%>
<div class="ext-box for-register">
    <form action="/restaurant/login" method="get">
        <button class="cmn-btn">
            RESTAURANT LOGIN
        </button>           
    </form>
    <form method="get" action="/user/login">
        <button type="submit" >
            USER LOGIN
        </button>
    </form>
    <form action="/restaurant/register" method="get">
        <button class="cmn-btn">
            RESTAURANT REGISTER
        </button>           
    </form>
    <form method="get" action="/user/register">
        <button type="submit" >
            USER REGISTER
        </button>
    </form>
</div>
<%- include('footer')%>